@font-face {
  font-family: "MetropolisRegular";
  src: url("../fonts/Metropolis/Metropolis-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisMedium";
  src: url("../fonts/Metropolis/Metropolis-Medium.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisExtraLight";
  src: url("../fonts/Metropolis/Metropolis-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisBold";
  src: url("../fonts/Metropolis/Metropolis-Bold.otf") format("opentype");
}
.bg-color-white {
  background-color: #FFF;
}

.bg-color-purple {
  background-color: #9C69E2;
}

.bg-color-pink {
  background-color: #F063B8;
}

.bg-color-dark-blue {
  background-color: #212353;
}

.bg-color-grey {
  background-color: #4B5D68;
}

.text-color-dark-blue {
  color: #212353;
}

.text-color-pink {
  color: #F063B8;
}

.text-color-purple {
  color: #9C69E2;
}

.text-color-white {
  color: #FFF;
}

.text-color-grey {
  color: #4B5D68;
}

.title {
  font-family: Helvetica, sans-serif;
}

.title--small {
  font-size: 20px;
}

.title--normal {
  font-size: 40px;
}

.title--large {
  font-size: 80px;
}

.text {
  font-family: "MetropolisMedium";
}

.text--small {
  font-size: 16px;
}

.text--extra-small {
  font-size: 12px;
}

.text--normal {
  font-size: 18px;
}

@font-face {
  font-family: "MetropolisRegular";
  src: url("../fonts/Metropolis/Metropolis-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisMedium";
  src: url("../fonts/Metropolis/Metropolis-Medium.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisExtraLight";
  src: url("../fonts/Metropolis/Metropolis-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisBold";
  src: url("../fonts/Metropolis/Metropolis-Bold.otf") format("opentype");
}
.button {
  width: 200px;
  height: 60px;
  border-radius: 50px;
  outline: none;
  border: 0;
  font-size: 16px;
  font-family: "MetropolisBold";
}

.shadow-1 {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.shadow-2 {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-3 {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  grid-area: header;
  margin-top: 50px;
}

.site-nav {
  width: 300px;
  height: 30px;
}

.site-nav__menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.site-nav__menu li {
  display: inline;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}
.site-nav__menu li a {
  text-decoration: none;
  font-family: "MetropolisMedium";
  font-size: 16px;
}
.site-nav__menu li a:link {
  color: #4B5D68;
}
.site-nav__menu li a:visited {
  color: #4B5D68;
}
.site-nav__menu li a:hover {
  color: #212353;
  font-family: "MetropolisBold";
}
.site-nav__menu li a:active {
  color: #212353;
  font-family: "MetropolisBold";
}

@media screen and (max-width: 630px) {
  .header-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    grid-area: header;
    margin-top: 50px;
  }
}
.hero-section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  grid-area: hero;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero-info__title {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  max-width: 645px;
  font-size: 80px;
}

.hero-info__description {
  font-family: "MetropolisMedium";
  line-height: 1.6;
  max-width: 380px;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .hero-section__image {
    width: 100%;
    max-width: 885px;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    flex: wrap;
    position: relative;
    grid-area: hero;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section__image {
    position: absolute;
    right: -120px;
    top: 96px;
    width: 100%;
    max-width: 885px;
  }
}
.second-section {
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 62px;
  grid-area: second;
}

.info-section {
  max-width: 475px;
  display: grid;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
}

.info-section__title {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.info-section__description {
  font-family: "MetropolisMedium";
  line-height: 1.6;
  font-size: 18px;
}

.second-section__image {
  width: 100%;
  max-width: 477px;
}

.features-section {
  grid-area: features;
}

.features-section__description {
  width: 60%;
}

.cards-grid {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "card1 card2" "card3 card4";
}

.features-section__title {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #212353;
  text-align: center;
}

.features-section__description {
  font-family: "MetropolisExtraLight";
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.cards-grid__title {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

.cards-grid__description {
  font-family: "MetropolisRegular";
  font-size: 14;
}

.cards-grid__link {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.cards-grid__item {
  padding: 10px;
  width: 220px;
}

.cards-grid__container {
  width: 420px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-position: right;
  background-image: url("../../assets/images/Rectangle1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.cards-grid__img {
  position: absolute;
  left: 30px;
  bottom: 70px;
}

@media screen and (max-width: 900px) {
  .cards-grid {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "card1" "card2" "card3" "card4";
  }

  .cards-grid__container {
    margin: 0 auto;
  }
}
@font-face {
  font-family: "MetropolisRegular";
  src: url("../fonts/Metropolis/Metropolis-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisMedium";
  src: url("../fonts/Metropolis/Metropolis-Medium.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisExtraLight";
  src: url("../fonts/Metropolis/Metropolis-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisBold";
  src: url("../fonts/Metropolis/Metropolis-Bold.otf") format("opentype");
}
.testimonals-section {
  border-radius: 50px;
  display: flex;
  gap: 85px;
  padding: 100px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9C69E2;
  grid-area: testimonals;
}

.testimonals-section__title {
  font-size: 40px;
  font-family: Helvetica, sans-serif;
  color: #FFF;
  width: 200px;
  align-self: flex-start;
}

.testimonal {
  padding: 50px;
  border-radius: 20px;
  max-width: 645px;
  background-color: #FFF;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.testimonal__avatar {
  grid-column: 1/2;
}

.testimonal__info {
  grid-column: 2/6;
}

.testimonal__info__name {
  font-family: "MetropolisBold";
  font-size: 18px;
  color: #212353;
}

.testimonal__info__website {
  font-family: "MetropolisMedium";
  font-size: 14px;
  color: #9C69E2;
  margin-top: 5px;
}

.testimonal__info__description {
  font-family: "MetropolisRegular";
  font-size: 18px;
  color: #4B5D68;
  line-height: 1.8;
  margin-top: 20px;
}

@media screen and (max-width: 930px) {
  .testimonals-section {
    padding: 50px;
    gap: 40px;
  }
}
.try-for-free-section {
  display: flex;
  justify-content: space-between;
  grid-area: try-for-free;
}

.try-for-free-section__info {
  display: flex;
  gap: 20px;
  flex-direction: column;
  min-width: 400px;
}

.try-for-free-section__links {
  display: flex;
  gap: 30px;
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-area: footer;
  grid-template-areas: "footer1 footer1 footer2 footer3 footer4";
}

.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: footer1;
}

.footer2 {
  grid-area: footer2;
}

.footer3 {
  grid-area: footer3;
}

.footer4 {
  grid-area: footer4;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link__title {
  display: block;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 930px) {
  .link__title {
    text-align: center;
  }

  .footer-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: footer;
    grid-template-areas: "footer2 footer3" "footer1 footer4";
    gap: 20px;
  }

  .footer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: footer1;
    margin: 0 auto;
  }

  .footer2 {
    grid-area: footer2;
    max-width: 120px;
    margin: 0 auto;
  }

  .footer3 {
    grid-area: footer3;
    max-width: 120px;
    margin: 0 auto;
  }

  .footer4 {
    grid-area: footer4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 630px) {
  .footer-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-area: footer;
    grid-template-areas: "footer2" "footer3" "footer4" "footer1 ";
    gap: 20px;
  }
}
@font-face {
  font-family: "MetropolisRegular";
  src: url("../fonts/Metropolis/Metropolis-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisMedium";
  src: url("../fonts/Metropolis/Metropolis-Medium.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisExtraLight";
  src: url("../fonts/Metropolis/Metropolis-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "MetropolisBold";
  src: url("../fonts/Metropolis/Metropolis-Bold.otf") format("opentype");
}
.links-menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.links-menu li {
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}
.links-menu li a {
  text-decoration: none;
  font-family: "MetropolisMedium";
  font-size: 16px;
}
.links-menu li a:link {
  color: #4B5D68;
}
.links-menu li a:visited {
  color: #4B5D68;
}
.links-menu li a:hover {
  color: #212353;
  font-family: "MetropolisBold";
}
.links-menu li a:active {
  color: #212353;
  font-family: "MetropolisBold";
}

.links-menu--vertical {
  display: block;
}
.links-menu--vertical li {
  line-height: 2.5;
}

.links-menu--social i.fab {
  font-size: 50px;
  margin-right: 10px;
}

* {
  padding: 0px;
  margin: 0px;
}

.site-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content(100px, auto);
  gap: 150px;
  grid-template-areas: "header header header header" "hero hero hero hero" "second second second second" "features features features features" "testimonals testimonals testimonals testimonals" "try-for-free try-for-free try-for-free try-for-free" "footer footer footer footer";
}

@media screen and (max-width: 930px) {
  .site-container {
    gap: 75px;
  }
}

/*# sourceMappingURL=index.css.map */
