@font-face {
    font-family: 'MetropolisRegular';
    src: url('../fonts/Metropolis/Metropolis-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'MetropolisMedium';
    src: url('../fonts/Metropolis/Metropolis-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'MetropolisExtraLight';
    src: url('../fonts/Metropolis/Metropolis-ExtraLight.otf') format("opentype");
}

@font-face {
    font-family: 'MetropolisBold';
    src: url('../fonts/Metropolis/Metropolis-Bold.otf') format("opentype");
}