@import 'variables';
.bg-color-white {
    background-color: $white;
}

.bg-color-purple {
    background-color: $purple;
}

.bg-color-dark-blue {
    background-color: $dark-blue;
}

.bg-color-grey {
    background-color: $grey;
}

.text-color-dark-blue {
    color: $dark-blue;
}

.text-color-pink {
    color: $pink;
}

.text-color-purple {
    color: $purple;
}

.text-color-white {
    color: $white;
}

.text-color-grey {
    color: $grey;
}