@import 'fonts';
@import 'variables';
.bg-color-white {
    background-color: $white;
}

.bg-color-purple {
    background-color: $purple;
}

.bg-color-pink {
    background-color: $pink;
}

.bg-color-dark-blue {
    background-color: $dark-blue;
}

.bg-color-grey {
    background-color: $grey;
}

.text-color-dark-blue {
    color: $dark-blue;
}

.text-color-pink {
    color: $pink;
}

.text-color-purple {
    color: $purple;
}

.text-color-white {
    color: $white;
}

.text-color-grey {
    color: $grey;
}

.title {
    font-family: Helvetica, sans-serif;
}

.title--small {
    font-size: 20px;
}

.title--normal {
    font-size: 40px;
}

.title--large {
    font-size: 80px;
}

.text {
    font-family: 'MetropolisMedium';
}

.text--small {
    font-size: 16px;
}

.text--extra-small {
    font-size: 12px;
}

.text--normal {
    font-size: 18px;
}