.header-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    grid-area: header;
    margin-top: 50px;
}

.site-nav {
    width: 300px;
    height: 30px;
}

.site-nav__menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
    li {
        display: inline;
        a {
            text-decoration: none;
            font-family: 'MetropolisMedium';
            font-size: 16px;
        }
        /* unvisited link */
        a:link {
            color: $grey;
        }
        /* visited link */
        a:visited {
            color: $grey;
        }
        /* mouse over link */
        a:hover {
            color: $dark-blue;
            font-family: 'MetropolisBold'
        }
        /* selected link */
        a:active {
            color: $dark-blue;
            font-family: 'MetropolisBold'
        }
    }
}

@media screen and (max-width: 630px) {
    .header-section {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
        flex-wrap: wrap;
        grid-area: header;
        margin-top: 50px;
    }
}