.hero-section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    grid-area: hero;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-info__title {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    max-width: 645px;
    font-size: 80px;
}

.hero-info__description {
    font-family: 'MetropolisMedium';
    line-height: 1.6;
    max-width: 380px;
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .hero-section__image {
        width: 100%;
        max-width: 885px;
    }
    .hero-section {
        display: flex;
        flex-direction: column;
        flex: wrap;
        position: relative;
        grid-area: hero;
    }
}

@media screen and (min-width: 1200px) {
    .hero-section__image {
        position: absolute;
        right: -120px;
        top: 96px;
        width: 100%;
        max-width: 885px;
    }
}